# Binaries
*.jar
*.zip
*.mrpack

# Minecraft mods
mods/
**/mods/
**/overrides/mods/

# Resource packs and shader packs
resourcepacks/
**/resourcepacks/
server-resource-packs/
**/server-resource-packs/
shaderpacks/
**/shaderpacks/

# Generated/runtime data
logs/
**/logs/
crash-reports/
**/crash-reports/
saves/
**/saves/
screenshots/
**/screenshots/
libraries/
**/libraries/
downloads/
**/downloads/

# Generated configs
config/*
**/overrides/config/*

# Keep default configs
!config/modpack_defaults/
!config/modpack_defaults/**
!**/overrides/config/modpack_defaults/
!**/overrides/config/modpack_defaults/**
